<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" android:installLocation="internalOnly" package="ru.aaaaacca.installer" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT"/>
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature android:name="android.hardware.location.network"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.Ad_ID"/>
    <uses-permission android:maxSdkVersion="25" android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <queries>
        <package android:name="com.android.vending"/>
        <package android:name="com.amazon.venezia"/>
        <package android:name="com.sec.android.app.samsungapps"/>
        <package android:name="com.huawei.appmarket"/>
    </queries>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@drawable/ic_launcher" android:debuggable="false" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label=" LP  Installer " android:largeHeap="true" android:name="ru.aaaaacca.installer.App" android:networkSecurityConfig="@xml/network_config" android:requestLegacyExternalStorage="true" android:testOnly="false" android:theme="@style/Theme.MyTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value=" LP  Installer "/>
        <meta-data android:name="xposedscope" android:resource="@array/scope"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="android.support" android:value="\@$#"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|locale|orientation|screenSize" android:exported="true" android:label=" LP  Installer " android:launchMode="singleTask" android:name="ru.aaaaacca.installer.MainActivity" android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.luckypatcher.archive"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.lpzip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.apks"/>
                <data android:pathPattern=".*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.apks"/>
                <data android:pathPattern=".*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apks"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xapk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.apkm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="http"/>
                <data android:host="*" android:scheme="https"/>
                <data android:pathPattern=".*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.@$#"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="true" android:exported="true" android:icon="@drawable/ic_launcher" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity1" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher2" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity10" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher3" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity2" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher4" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity3" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher5" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity4" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher6" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity5" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher7" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity6" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher8" android:label=" LP  Installer " android:name="ru.aaaaacca.installer.MainActivity7" android:targetActivity="ru.aaaaacca.installer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|locale|orientation|screenSize" android:exported="true" android:launchMode="singleInstance" android:name="ru.aaaaacca.installer.SetPrefs" android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|locale|orientation|screenSize" android:exported="true" android:launchMode="singleInstance" android:name="ru.aaaaacca.installer.BinderActivity" android:stateNotNeeded="true"/>
        <activity android:configChanges="keyboardHidden|locale|orientation|screenSize" android:exported="true" android:name="com.google.android.finsky.billing.iab.BuyActivity" android:theme="@style/buydialogstyle"/>
        <receiver android:exported="true" android:name="ru.aaaaacca.installer.PackageChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="ru.aaaaacca.installer.OnAlarmReceiver">
            <intent-filter>
                <action android:name="com.ui.OnAlarmReceiver.ACTION_WIDGET_RECEIVER"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="ru.aaaaacca.installer.BinderBootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED"/>
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="ru.aaaaacca.installer.OnBootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE"/>
                <action android:name="android.intent.action.UMS_DISCONNECTED"/>
                <action android:name="android.intent.action.POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="ru.aaaaacca.installer.NotificationService"/>
        <service android:enabled="true" android:exported="true" android:name="ru.aaaaacca.installer.PatchService"/>
        <service android:enabled="true" android:exported="true" android:name="com.google.android.finsky.billing.iab.InAppBillingService">
            <intent-filter android:priority="2147483647">
                <action android:name="com.android.vending.billing.InAppBillingService.PROX"/>
                <action android:name="ru.aaaaacca.installer"/>
                <action android:name="com.android.vending.billing.InAppBillingService.INST"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="com.google.android.finsky.services.LicensingService" android:permission="com.android.vending.CHECK_LICENSE">
            <intent-filter android:priority="2147483647">
                <action android:name="ru.aaaaacca.installer.service"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:label="LP - Proxy for Google Play" android:name="com.widgets.Widget5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ui.widgets.Widget5.ACTION_WIDGET_RECEIVER"/>
                <action android:name="com.ui.widgets.Widget5.ACTION_WIDGET_RECEIVER_Updater"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/proxy_gp_widget_provider"/>
        </receiver>
        <receiver android:exported="true" android:label="LP - InApp emulation" android:name="com.widgets.Widget4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ui.widgets.Widget4.ACTION_WIDGET_RECEIVER"/>
                <action android:name="com.ui.widgets.Widget4.ACTION_WIDGET_RECEIVER_Updater"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/inapp_widget_provider"/>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:label="LP - Patches to Android" android:name="com.widgets.Widget1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/android_patch_widget_info"/>
        </receiver>
        <activity android:exported="true" android:name="com.widgets.WidgetConfigureActivity1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:label="LP - ON/OFF directory bind" android:name="com.widgets.Widget3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ui.widgets.Widget3.ACTION_WIDGET_RECEIVER"/>
                <action android:name="com.ui.widgets.Widget3.ACTION_WIDGET_RECEIVER_Updater"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/binder_widget_info"/>
        </receiver>
        <activity android:exported="true" android:name="com.widgets.WidgetConfigureActivity2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:label="LP - Application enabler/disabler" android:name="com.widgets.Widget2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ui.widgets.Widget2.ACTION_WIDGET_RECEIVER"/>
                <action android:name="com.ui.widgets.Widget2.ACTION_WIDGET_RECEIVER_Updater"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/app_disabler_widget"/>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="com.services.TestService">
            <intent-filter android:priority="2147483647">
                <action android:name="com.ui.ITestServiceInterface.BIND"/>
            </intent-filter>
        </service>
        <service android:name="com.services.MyService"/>
        <provider android:authorities="ru.aaaaacca.installer.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_path"/>
        </provider>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
